$mainfont: 'Mulish', sans-serif;

$fontcolor: #111111;

$hfontweight: bold;

$h1fontsize: 40px;
$h1lineheight: 55px;

$h3fontsize: 28px;
$h3lineheight: 38px;

$h4fontsize: 22px;
$h4lineheight: 28px;

$h6fontsize: 18px;
$h6lineheight: 23px;

$pfontsize: 16px;
$plineheight: 26px;